@font-face {
    font-family: casualSoftcore;
    src: url(font/casualSoftcore.otf);
}

* {
	font-family: casualSoftcore;
	letter-spacing: 2.5px;
	font-weight: 400;
	color: black;
}

.hideImage {
	transform: rotate(45deg);
	color: red;
	font-weight: 100;
	font-size: 80px;
	z-index: 504;
	left: 90.8%;
	bottom: 90.2%;
	position: fixed;
}

.hideImage:hover {
	cursor: pointer;
	font-weight: 900;
}

.picFrame {
	padding: 1%;
	background-color: white;
	position: fixed;
	z-index: 1;
	width: 82%;
	height: 100%;
}

.greyBack {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: grey;
	filter: opacity(0.6);
	z-index: 500;
}

.imageFull {
	padding: 1% 10%;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 502;
}

.grow {
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.imgFullsm {
	width: 10%;
	height: auto;
}

.imgFullbig {
	position: fixed;
	z-index: 503;
	width: 80%;
	height: auto;
}

body {
	 background-color: #dddddd;
}

.firstPic {
	position: relative;
	width: 100%;
}

.aboutMe {
	text-align: center;
	margin-top: 100px;
}

.aboutMe > * {
	margin: 15px 0px;
}

.aboutMe > img {
	z-index: 2;
	width: 100px;
	height: auto;
	border-radius: 50px;
}

.firstPic img {
	filter: grayscale(0.7) opacity(0.5);
	z-index: -1;
	position: absolute;
	width: 100%;
	height: auto;
}

.logoWrap {
	text-align: center;
}

.logoWrap > img {
	width: 10%;
	height:auto;
}
a, a:visited, a:active, a:hover {
	text-decoration: none !important;
	color: black;
}

.tech {
	margin-top:18%;
	text-align: center;
}

.navLinks > h3 > a:hover {
	font-weight: 600;	
	cursor: pointer;
}

.navLinks h3 {	
	height: 40px;
	top:-100px;
	text-align: center;
}

.navLinks h3 a {
	position:relative;
	padding:20px;
	border: 2px groove red;
}
.navLinks h3 a:before{
	position:absolute;
	content: '';
	z-index: -1;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	border: 2px solid #DDDDDD;
}

.paginator {
	margin-top: 300px;
	margin-left: 30px;
	position: fixed;
	z-index:600;
	text-decoration: none !important;
}

.paginator > a {
	font-size: 30px;
	color: red;
}

.currentPage {
	color: grey !important;
}

.content {
	width: 100%;	
}

.techImg {
	width: 150px;
	height: auto;
	margin: 80px 530px;
}

.postAnimation {
	margin: 80px 30px;
	width: 150px;
	height: auto;
}

.postAnimation:hover {
	cursor: pointer;
	transform: rotate(360deg);
	transition: all 0.3s ease-in-out;
}

.imgWrap {
	text-align: center;
	margin: 0 auto;
	margin-top: 250px;
	width: 1040px;
}

.activePage {
	color: white;
}

.images {
	list-style-type: none;	
}

.images > img {
	cursor: pointer;
	width: 300px;
	height: 220px;
	margin: 18px;
	display: inline-block;
	float: left;
}

.images > li > img:hover {
	transform: scale(2); 
}

footer {
	margin-top: 50px;
	padding-top: 20px;
	height: 450px;
	width: 100%;
	background-color: #dddddd;
}

footer input, footer textarea {
	resize:  none;
	margin: 0 auto;
	margin-top: 20px;
	width: 400px;
	display: block;

}
