

.movieList{
	width:50%;
	display:inline-block;
	float:left;
	
}


.oneMovie{
	border-radius:10px;
	margin-top:30px
}
.clear{
	clear:both;
}
#visibleTitle{
	font-size:32px !important; 
}

.oneMovie{
	padding:15px;
	background-color:#91c392;
	float:right;
	width:45%;
	display:inline-block;
}

.movieList ul{
	list-style-type:none;
}
.movieList ul li{
	border-radius:10px;
	margin:5px;
	background-color:#91c392;
}

.movieList ul li .year{
	width:40%;
	display:inline-block;	
}
.movieList ul li .title{
	max-width:40%;
	margin:10px;
	font-size:32px;
	display:inline-block;
}
.movieList ul li p{
	margin:5px;
	max-height:60px;
	 overflow: hidden;
	text-overflow: ellipsis;
	text-indent: 20px;
}
.movieList ul  li .duration{
	max-width:40%;
	display:inline-block;
	margin:10px;
}
.movieList ul li .type{
	max-width:40%;
	display:inline-block;
	margin:10px;
}

.addMovie{
	border-radius:10px;
	margin-top:50px;
	padding:30px;
	width:45%;
	background-color:#91c392;
	float:right;	
}

.movieInput{
	width:40%;
	display:inline-block;

}

.movie:hover{
	background-color: #779571;
}

.sortBts{
	margin:5px;
}

.paginator {
	padding:10px;
	border-radius:10px;
  width: 520px;
  margin-left:45px;
  max-height: 60px;
  text-align: center;
	background-color:#91c392;
}

.paginator div {
  display: inline;
}

.paginator div:hover {
  cursor: pointer;
}